@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

* {
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    position: absolute;
}

body::-webkit-scrollbar {
    display: none;
}

section {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

article {
    max-width: 100vw;
    height: 100vw;
    display: flex;
}

article div {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

h1 {
    text-align: justify;
    padding-left: 1vw;
    padding-right: 1vw;
    margin: 0;
    transition: color 0.3s ease-in-out;
    user-select: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
}

img {
    width: auto;
    height: 100%;
    object-fit: cover;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    overflow: hidden;
}

.font-roboto {
    font-family: 'Roboto', sans-serif;
    font-size: 6.3vmin;
}

.font-dancing-script {
    font-family: 'Dancing Script', cursive;
    font-size: 6.7vmin;
}

.font-quicksand {
    font-family: 'Quicksand', sans-serif;
    font-size: 6vmin;
}

.font-amatic-sc {
    font-family: 'Amatic SC', cursive;
    font-size: 7.6vmin;
}

.font-lobster {
    font-family: 'Lobster', cursive;
    font-size: 6.3vmin;
}

.arrows {
    display: flex;
    position: absolute;
    right: 0;
    bottom: 0;
}

.arrows button {
    width: 14vw;
}

select {
    width: 14vmin;
}

.light {
    background-color: #f8f9fa;
    color: #212529;
}

.dark {
    background-color: #212529;
    color: #f8f9fa;
}

a {
    color: #0d6efd;
}

audio {
    display: none;
}

.audio-player {
    width: 14vw;
    background-color: white;
    text-align: center;
    border-width: 1px;
    border-style: outset;
    border-color: buttonborder;
    border-image: initial;
    display: flex;
    align-items: center;
    justify-content: center;
}

.audio-player::before {
    content: '\25B7';
    color: black;
    cursor: pointer;
}

@media (orientation: landscape) {
    article {
        width: 177vh;
        height: 100vh;
    }

    .font-roboto {
        font-size: 7.1vmin;
    }

    .font-dancing-script {
        font-size: 8.3vmin;
    }

    .font-quicksand {
        font-size: 7vmin;
    }

    .font-amatic-sc {
        font-size: 8.7vmin;
    }

    .font-lobster {
        font-size: 7.6vmin;
    }
}